#Prueba de evaluación de conocimientos

##Tipo de datos
1. Numérico
- Entero: interger - int
- Decimal: float
2. Alfanumérico o cadena de caracteres.
(String - str)
3. Lógico: Boolean - bool
4. Listas: list[]
5. Diccionario: dict {}
Para saber que tipos de datos estamos manipulando, se usa la función type()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4= {5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4= 17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa + en strings, sucede la concatenación
"5"+"3"*2

'533'

2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
# = es asignación. == es comparación
2 ** 11 == 1000

False

##Operaciones lógicas
1. Disyunción (o): Una proposición es verdadera, si al menos una de ella lo es. En python se puede enunciar con la palabra **or** o con **||**.
Ejemplo: V OR V da V. V OR F da V. F OR V da V. F OR F da F.
2. Conjunción (y): Una preposición es verdadera, si y solo si, ambas preposiciones son verdaderas. En python, se utiliza la palabra **and** o **&&** para su uso. Ejemplo: F and F da F; F and V da F; V and F da F; V and V da V.
3. Negación (no): Niega el valor de verdad de una preposición. Si el valor de verdad es true, se vuelve false. En python se usa la palabra **not** o ~ para denotarla.

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 ==100

In [ ]:
print(f"El valor de la expresión a=2 ** 11 == 1000 or 2 ** 9 ==100 es {a} y es de tipo {type(a)}")

El valor de la expresión a=2 ** 11 == 1000 or 2 ** 9 ==100 es False y es de tipo <class 'bool'>

In [ ]:
#Colocar un tipo de dato antes del dato, se usa para transformar el dato dentro del paréntesis en el dato por fuera del paréntesis
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
#Siempre que haya una división, el resultado dará decimal(float)
b=16/16 + 384/24

In [ ]:
print(f"La operación b=16/16 + 384/24 es {b} y es de tipo {type(b)}")

La operación b=16/16 + 384/24 es 17.0 y es de tipo <class 'float'>

In [ ]:
# % es el módulo de la operación (residuo de la división)
600 + 18%

SyntaxError: invalid syntax (<ipython-input-21-ac57a6858d08>, line 2)

In [ ]:
0 < (4096 % 10) <6

False

In [ ]:
c="Max" + "Min"

In [ ]:
print(f"La operacion c='Max' + 'Min' {c} y es de tipo {type(c)} ")

La operacion c='Max' + 'Min' MaxMin y es de tipo <class 'str'>

In [ ]:
# ABC() es una función no definida
ABC()* DEF()

NameError: name 'ABC' is not defined

In [ ]:
float(-int("7")+int('90))

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-30-c81e33bedfc5>, line 1)

abs(len('seis') - len('tres'))
1. abs = valor absoluto.
2. len = cuenta la cantidad de letras de un string
- len('seis')= 4
- len('tres')= 4

In [ ]:
abs(len('seis') - len('tres'))

0

In [ ]:
#Todos los números a excepción de 0, da true al convertirlos a booleanos
bool(1210) or bool(-3465)

True

In [ ]:
int('8' * 3)

888

In [ ]:
int('8' * 3) / 3

296.0

In [ ]:
str(296.0)

'296.0'

In [ ]:
# Todos los string son listas, por ende, podemos conocer la posición de cada uno de sus elementos. En python se empieza contando desde 0
str(296.0)[3]

'.'

In [ ]:
float(str(int('8' * 3)/ 3)[3])

ValueError: could not convert string to float: '.'