#Listas
Definición: Es un conjunto de objetos que se identifican por un nombre y un índice. Las listas en Python se definen entre [] y los objetos que éstas contienen se separan por comas ( , ).
##Métodos
1. Append: Añade un ítem al final de la lista
2. clear: Vacía todos los ítems de una lista
3. extend: Une una lista a otra
4. count: Cuenta el número de veces que aparece un ítem
5. index: Devuelve el índice en el que aparece un ítem (error si no aparece):
6. insert: Agrega un ítem a la lista en un índice específico
7. pop: Extrae un ítem de la lista y lo borra
8. remove: Borra el primer ítem de la lista cuyo valor concuerde con el que indicamos
9. reverse: Le da la vuelta a la lista actual
10. sort: Ordena automáticamente los ítems de una lista por su valor de menor a mayor

In [13]:
#Append()
lista1= [23,9,4,27,8,18]
lista1.append(4)
print(lista1)
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista2.append("Jhon")
print(lista2)

[23, 9, 4, 27, 8, 18, 4]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Vega', 'Jhon']

In [17]:
#clear
lista1= [23,9,4,27,8,18]
lista1.clear()
print(lista1)
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista2.clear()
print(lista2)

[]
[]

In [18]:
#extend
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.extend(lista2)
print(lista1)

[23, 9, 4, 27, 8, 18, 'Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Vega']

In [19]:
#count
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
print(lista1.count(4))
print(lista2.count("Vega"))

1
2

In [20]:
#index
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
print(lista1.index(4))
print(lista2.index("Vega"))

2
3

In [22]:
#insert
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.insert(2,4)
print(lista1)
lista2.insert(5,"Jhon")
print(lista2)

[23, 9, 4, 4, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith', 'Jhon', 'Vega']

In [24]:
#pop
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.pop(2)
print(lista1)
lista2.pop(5)
print(lista2)

[23, 9, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Vega', 'Jenith']

In [25]:
#remove
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.remove(4)
print(lista1)
lista2.remove("Vega")
print(lista2)

[23, 9, 27, 8, 18]
['Juan', 'David', 'Acevedo', 'Jenith', 'Vega']

In [26]:
#reverse
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.reverse()
print(lista1)
lista2.reverse()
print(lista2)

[18, 8, 27, 4, 9, 23]
['Vega', 'Jenith', 'Vega', 'Acevedo', 'David', 'Juan']

In [27]:
#sort
lista1= [23,9,4,27,8,18]
lista2= ["Juan", "David", "Acevedo", "Vega", "Jenith", "Vega"]
lista1.sort()
print(lista1)
lista2.sort()
print(lista2)

[4, 8, 9, 18, 23, 27]
['Acevedo', 'David', 'Jenith', 'Juan', 'Vega', 'Vega']

#Diccionarios
Son una estructura de datos que permite almacenar su contenido en forma de llave y valor.
##Métodos
1. get: Busca un elemento a partir de su clave y si no lo encuentra devuelve un valor por defecto
2. keys: Genera una lista en clave de los registros del diccionario
3. values: Genera una lista en valor de los registros del diccionario
4. items: Genera una lista en clave-valor de los registros del diccionario
5. pop: Extrae un registro de un diccionario a partir de su clave y lo borra, acepta valor por defecto
6. clear: Borra todos los registros de un diccionario
7. update: El método update se llama sobre un diccionario y tiene como entrada otro diccionario.
8. popitem: El método popitem() elimina de manera aleatoria un elemento del diccionario.
9. copy: Retorna una copia superficial del diccionario.
10. fromkeys(seq, valor): Crea un nuevo diccionario a partir de una secuencia de claves, asignándoles un valor común.

In [33]:
#get
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.get(4)
print(dict1)
dict2.get("Vega")
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [34]:
#keys
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
print(dict1.keys())
print(dict2.keys())

dict_keys(['nombre', 'apellido'])
dict_keys(['día', 'mes', 'año'])

In [35]:
#values
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
print(dict1.values())
print(dict2.values())

dict_values(['Juan', 'Acevedo'])
dict_values([23, 9, 2004])

In [36]:
#items
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.items()
print(dict1)
dict2.items()
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [44]:
#pop
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.pop("nombre")
print(dict1)
dict2.pop("mes")
print(dict2)

{'apellido': 'Acevedo'}
{'día': 23, 'año': 2004}

In [45]:
#clear
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.clear()
print(dict1)
dict2.clear()
print(dict2)

{}
{}

In [46]:
#update
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.update(dict2)
print(dict1)

{'nombre': 'Juan', 'apellido': 'Acevedo', 'día': 23, 'mes': 9, 'año': 2004}

In [47]:
#popitem
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.popitem()
print(dict1)
dict2.popitem()
print(dict2)

{'nombre': 'Juan'}
{'día': 23, 'mes': 9}

In [48]:
#copy
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.copy()
print(dict1)
dict2.copy()
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

In [49]:
#fromkeys
dict1={"nombre":"Juan","apellido":"Acevedo"}
dict2={"día":23,"mes":9,"año":2004,}
dict1.fromkeys("nombre")
print(dict1)
dict2.fromkeys("mes")
print(dict2)

{'nombre': 'Juan', 'apellido': 'Acevedo'}
{'día': 23, 'mes': 9, 'año': 2004}

#Ejercicios de clase (listas)

#Ejercicio 1
Dada la lista: list1 = [100, 200, 300, 400, 500], se desea que imprima [500, 400, 300, 200, 100]

In [50]:
list1= [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

#Ejercicio 2
Escriba un programa que unas dos listas, de tal forma que
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", “quis"]
da como resultado ['Mi', 'nombre', 'es', 'equis'] (reemplazar el nombre por el del estudiante)

In [57]:
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", "Juan"]
lista3 = []
for i in range(len(lista1)):
  lista3.append(lista1[i] + lista2[i])
print(lista3)

['Mi', 'nombre', 'es', 'eJuan']

#Ejercicio 3
Desarrolle un programa que calcule el doble de cada uno de los elementos de una lista. Ejemplo: si la lista es [1, 2, 3, 4, 5, 6, 7] da como resultado [2, 4, 6, 8, 10, 12, 14].

In [58]:
lista1 = [1, 2, 3, 4, 5, 6, 7]
lista2 = []
for i in range(len(lista1)):
  lista2.append(lista1[i] * 2)
print(lista2)

[2, 4, 6, 8, 10, 12, 14]

#Ejercicio 4
Dadas dos listas
a. lista1 = ["Hola ", "toma "]
b. lista2 = ["Querido", "Señor"]
desarrollar un programe que de como resultado [“Hola Querido”, “Hola Señor”,'toma Querido”, 'toma Señor'

In [59]:
lista1 = ["Hola ", "toma "]
lista2 = ["Querido", "Señor"]
lista3 = []
for i in range(len(lista1)):
  for j in range(len(lista2)):
    lista3.append(lista1[i] + lista2[j])
print(lista3)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

#Ejercicio 5
Dadas dos listas
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
se desea construir un programa que imprima
10 400
20 300
30 200
40 100

In [60]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
  print(list1[i], list2[i])

10 400
20 300
30 200
40 100

#Ejercicio 6
Dada la lista ["Mike", "", "Emma", "Kelly", "", "Brad"] se desea un programa que elimine el elemento vacío

In [61]:
lista= ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in lista:
  if i == "":
    lista.remove(i)
print(lista)

['Mike', 'Emma', 'Kelly', 'Brad']

#Ejercicio 7
Dada la lista [10, 20, [300, 400, [5000, 6000], 500], 30, 40] se desea un programa que genere el siguiente resultado: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [62]:
lista= [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#Ejercicio 8
Dada dos listas
lista1= ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista 2= ["h", "i", "j"]
se desea un programa que imprima lo siguiente:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [63]:
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]
lista1[2][1][2].extend(lista2)
print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#Ejercicio 9
Dada la lista [5, 10, 15, 20, 25, 50, 20] se desea un programa que reemplace el
número de la mitad por 200.

In [64]:
lista= [5, 10, 15, 20, 25, 50, 20]
lista[lista.index(20)] = 200
print(lista)

[5, 10, 15, 200, 25, 50, 20]

#Ejercicio 10
Construya un programa que elimine de una lista todos los duplicados. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprime [5, 15, 25, 50]

In [87]:
lista= [5, 20, 15, 20, 25, 50, 20]
lista2= []
for i in lista:
  if i not in lista2:
    lista2.append(i)
print(lista2)

[5, 20, 15, 25, 50]

#Ejercicio 11
Construya una programa que cuente cuántas veces se repitan los elementos de una
lista. Ejemplo, si se tiene una lista [5, 20, 15, 20, 25, 50, 20] imprima:
5 = 1
20 = 3
15 = 1
25= 1
50 = 1

In [82]:
lista= [5, 20, 15, 20, 25, 50, 20]
lista2= []
for i in lista:
  if i not in lista2:
    lista2.append(i)
for i in lista2:
  print(i, "=", lista.count(i))

5 = 1
20 = 3
15 = 1
25 = 1
50 = 1

#Ejercicio 12
Construya un programa que ordene los elementos de una lista de menor a mayor o
viceversa

In [83]:
lista= [40, 10, 30, 20, 60, 50, 100]
lista.sort()
print(lista)

[10, 20, 30, 40, 50, 60, 100]

#Ejercicio 13
Escriba un programa en Python que le permita al usuario obtener de una lista:
a. La suma de todos sus elementos
b. La multiplicación de todos sus elementos
c. El número mayor
d. El número menor

In [84]:
lista= [40, 10, 30, 20, 60, 50, 100]
suma= 0
multiplicacion= 1
for i in lista:
  suma += i
  multiplicacion *= i
print("La suma de todos sus elementos es:", suma)
print("La multiplicación de todos sus elementos es:", multiplicacion)
print("El número mayor es:", max(lista))
print("El número menor es:", min(lista))

La suma de todos sus elementos es: 310
La multiplicación de todos sus elementos es: 72000000000
El número mayor es: 100
El número menor es: 10

#Ejercicio 14
Escriba un programa que calcule la diferencia entre dos listas.

In [85]:
lista1= [1,2,3,4]
lista2= [1,2]
lista3= []
for i in lista1:
  if i not in lista2:
    lista3.append(i)
print(lista3)

[3, 4]

#Ejercicio 15
Escriba un programa que permita identificar el segundo y tercer elemento menor de una lista de 10 elementos.